.content-header{
    font-family: 'Kalnia', serif;
    background-color: #08083C;
    color: #3D59DD; 
    text-align: center;
    margin: 0;
    padding: 0;
}

#about{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}