/* read.css */
body {
    background-color: #08083C;
    color: lightblue;
    font-family: 'Kalnia', serif;
    margin: 0;
    padding: 0;
}

.read-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    padding: 20px;
}

.fish-card {
    /* Additional styles for each individual fish card */
    border: 1px solid lightblue;
    margin: 10px;
    padding: 15px;
    text-align: center;
}

/* Additional styles for your Fishes component or other elements within read.js */
